.input-container {
  
  border:1px solid rgb(167, 167, 167);
  border-bottom:1px solid rgb(0, 255, 221);
  width:80vw;
  border-radius: 10px;
  height:7rem;
  
}
h1{
    font-size:5rm;
}
.styled-input {

  width: 70vw;
  padding: 20px;
  background:transparent;
  border: 2px solid black;
  border:none;
  outline:none;
  list-style: none;
  border-radius: 12px;
  font-size: 16px;
}
